useDynLib(eive)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("stats", "lm", "lm.fit", "rnorm")
importFrom("stats", "model.frame", "model.matrix")
importFrom(compiler, cmpfun)

export(eive.cga, eivem, cga)
export(eive.cga.formula)
export(cga_generate_chromosome)
export(generate.eive.data)


